.empty-wrapper {
  margin-top: 8%;

  .empty {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 3%;
  }

  button {
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    font-size: 18px;
    font-weight: 500;
    font-family: inherit;
    letter-spacing: .25px;
    line-height: normal;
    padding: 11px 24px;

    &:hover {
      background: #F6F9FE;
      color: #174ea6;
    }

    &:active {
      box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
      outline: none;
      border: 2px solid #4285f4;
    }
  }
}

.item-page {
  max-height: 90%;
  .name {
    font-weight: bold;
    font-size: 1.5em;

    margin-bottom: 10px;
  }

  .item-page__wrapper {
    display: flex;

    .photos-wrapper {
      width: 40%;

      display: grid;
      gap: 1px;
      grid-template-columns: repeat(3, 1fr);

      img {
        max-width: 50%;
        padding: 5px;
      }
    }

    .info-wrapper {
      .site {

      }

      .photos {
        display: grid;

        img {
          width: 20px;
        }
      }

      .address {

      }

      .rating {

      }
    }
  }
}

.img-wrapper {
  img {
    max-width: 100%;
  }
}